<%= form_for([article, article.comments.build]) do |f| %>
  <p>
    <% if session[:user_id] != nil %>
      <%= session[:user_name] %>
    <% else %>
      <%= f.text_field :commenter %>
    <% end %>
  </p>
  <p>
    <%= f.text_area :body, :rows => "10", :style => "width: 100%" %>
  </p>
  <p>
    <%= f.submit class: "btn btn-default" %>
  </p>
<% end %>

