<!-- tags -->
<p>
<span class="btn btn-warning"><%= pluralize(@article_sum, "time") %> visit</span>

<span class="btn btn-default">Tags</span>
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  |
  <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
<% end %>
</p>

<!-- articles list -->
<% [ @articles1, @articles2 ].each do |articles| %>
  <div class="col-md-6 blog-main">
    <div class="blog-post">
      <h2 class="text-center"><span class="glyphicon glyphicon-list"> XIAOBAO LI</h2>

      <p>
      <% if session[:user_id] != nil && session[:user_id] < 3 %>
        <a href="<%= new_article_path %>"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-star"></span> New Article </button></a>
      <% end %>
      </p>

      <!-- 分页 -->
      <%= will_paginate(articles, :prev_label=>'Previous', :next_label=>'Next', :separator=>" | ") %>

      <table class="table">

        <tr>
          <th><span class="glyphicon glyphicon-star-empty"> Title</th>
          <th><span class="glyphicon glyphicon-star-empty"> Time</th>
        </tr>
        <% articles.each do |article| %>
          <tr>
            <% if article.sticky == true %>
              <td class="success"><b><%= link_to article.title, article_path(article) %></b> <span class="text-success">(<%= "#{article.impressionist_count(filter: :session_hash)} views" %>)</span></td>
            <% else %>
              <td><%= link_to article.title, article_path(article) %> <span class="text-success">(<%= "#{article.impressionist_count(filter: :session_hash)} views" %>)</span></td>
            <% end %>
            <td><%= article.created_at.to_s(:short) %></td>
          </tr>
        <% end %>

      </table>

      <!-- 分页 -->
      <%= will_paginate(articles, :prev_label=>'Previous', :next_label=>'Next', :separator=>" | ") %>

    </div>
  </div>

<% end %>

