<h2 class="blog-post-title text-center">
  <%= @article.title %>
</h2>

<%= link_to 'Back to Articles', articles_path, class: "btn btn-default" %>
<% if session[:user_id] != nil && session[:user_id] < 4 %>
| <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-default" %>
| <%= link_to 'New Article', new_article_path, class: "btn btn-default" %>
<% end %>

<hr />

<%= markdown(@article.text) %>

<br />
<%= link_to 'Back to Articles', articles_path, class: "btn btn-default" %>
<% if session[:user_id] != nil && session[:user_id] < 4 %>
| <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-default" %>
| <%= link_to 'New Article', new_article_path, class: "btn btn-default" %>
<% end %>
<hr />

<h4>Comments <span class="glyphicon glyphicon-comment"></h4>
<%= render @article.comments %>

<%= render "comments/form" %>

