<div class="col-md-9">
  <!-- title -->
  <h2 class="blog-post-title text-center">
    <%= @article.title %>
  </h2>
  <p class="text-center">
  <%= @article.created_at.strftime("%B %e %k:%M - %Y") %>
  </p>

  <!-- 返回,编辑,新建,删除,分享按钮 -->
  <%= link_to 'Back to Articles', articles_path, class: "btn btn-default" %>
  <% if session[:user_id] != nil && session[:user_id] < 3 %>
    <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-default" %>
    <%= link_to 'New Article', new_article_path, class: "btn btn-default" %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>
  <% end %>
  <a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=ce1438ee-4c74-40f7-9dc6-56743cc45b6b&style=1&bp=weixin,qzone,sinaminiblog,facebook,twitter,linkedin,clipboard,renren,qqmb,qqim"></script>
  <!-- 返回,编辑,新建,删除,分享按钮 -->

  <hr />

  <!-- 文章正文 -->
  <%= markdown(@article.text) %>

  <hr />
  <a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=ce1438ee-4c74-40f7-9dc6-56743cc45b6b&style=2&bp=weixin,qzone,sinaminiblog,facebook,twitter,linkedin,clipboard,renren,qqmb,qqim"></script>
  <!-- 标签 -->
  <p>
  Tags:
  <% @article.tag_list.map do |t| %>
    <%= link_to t, tag_path(t) %>
  <% end %>
  </p>

  <br />
  <!-- 返回,编辑,新建,删除,分享按钮 -->
  <%= link_to 'Back to Articles', articles_path, class: "btn btn-default" %>
  <% if session[:user_id] != nil && session[:user_id] < 3 %>
    <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-default" %>
    <%= link_to 'New Article', new_article_path, class: "btn btn-default" %>
    <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>
  <% end %>
  <!-- 返回,编辑,新建,删除,分享按钮 -->
  <hr />

  <!-- 此处为comment和comment form -->
  <h4>Comments <span class="glyphicon glyphicon-comment"></h4>
  <%= render @article.comments %>

  <%= render "comments/form", article: @article %>
</div>

<div class="col-md-3">
  <div id="facets">

    <%= image_tag "/uploads/picture/23/thumb_pt2013_11_24_21_39_16.jpg", :alt => "请到 dianying/app/views/articles/show.html.erb:56 修改图片地址"%>
    <h3>Article List</h3>
    <ul>
      <% @search.facet(:publish_month).rows.each do |row| %>
        <li>
          <% if params[:month].blank? %>
            <%= link_to row.value, articles_search_path(:month => row.value) %> (<%= row.count %>)
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "Back", :month => nil %>)
          <% end %>
        </li>
      <% end %>
    </ul>

    <h3>Article Category</h3>
    <ul>
      <% tag_cloud(@tags, %w(css1 css2)) do |tag, css_class| %>
        <li>
          <%= link_to tag.name, tag_path(tag.name), :class => css_class %> (<%= tag.count %>)
        </li>
      <% end %>
    </ul>

  </div>
</div>

