<h1>
<% if !@user.email.nil? %>
  <%= gravatar_for @user %>
<% end %>
<%= @user.name %>
</h1>
<h3 class="text-center" style="color: green">
  <%= flash[:success] %>
</h3>
<h4 class="text-center" style="color: red">
  <%= flash[:error] %>
</h4>
<% unless @receipts_array.nil? %>
  <% @receipts_array.each do |receipts| %>
    <% receipts.each do |receipt| %>
      <hr />
      Time:
      <%= receipt.created_at.time %>
      <br />
      <b style="color: green;">message:</b>
      <br />
      Sender: 
      <%= receipt.message.subject %>
      <br />
      Content: 
      <%= markdown(receipt.message.body) %>
      <br />
      read: 
      <%= receipt.is_read? %>
      <br />
    <% end %>
  <% end %>
<% end %>
