<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Picture:</b>
  <% @picture.picture_url =~ /data/ %>
  <%= image_tag($', :width => 600) if @picture.picture? %>
</p>

<p>
  <b>Path:</b>
  <% @picture.picture_url(:thumb) =~ /data/ %>
  <%= $' %>
</p>

<%= link_to 'Back', pictures_path, class: "btn btn-default" %>

<% if session[:user_id] != nil && session[:user_id] < 3 %>
  <%= link_to 'Edit', edit_picture_path(@picture), class: "btn btn-default" %> |
  <%= link_to 'Delete', picture_path(@picture),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
<% end %>

