<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>虎 妞 网</title>
  <!-- adapte various devises -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- jumbotron css -->
  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron/jumbotron.css">

  <!-- rails css js link -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- navigate bar 导航 -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- 品牌 logo -->
        <a class="navbar-brand" style="color: white;" href="/">虎 <span class="glyphicon glyphicon-heart"> 妞 <span class="glyphicon glyphicon-heart"> 网</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/articles"> Articles</a></li>
          <li><a href="/about/index">About</a></li>
          <!-- dropdown list 下拉列表 -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <!-- sign in and sign up 登陆和注册 -->
        <% if current_user.nil? %>
          <%= form_tag sessions_path, {:class => "navbar-form navbar-right", :role => "form"} do %>
            <div class="form-group">
              <%= text_field_tag :email, params[:email], {:placeholder => "Email", :class => "form-control"} %>
            </div>
            <div class="form-group">
              <%= password_field_tag :password, params[:password], {:placeholder => "Password", :class => "form-control"} %>
            </div>
            <%= submit_tag "Sign in", :class => "btn btn-success" %>
            <%= link_to "Sign up", sign_up_path, :class => "btn btn-primary"%>
          <% end %>
        <% else%>
          <p class="navbar-right" style="color: white; font-size: large; padding-top: 12px;">
          <%= current_user.email %>
          <%= link_to "Log out", log_out_path, :class => "btn btn-success" %>
          </p>
        <% end %>
      </div><!--/.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <p><a href="http://pan.baidu.com/s/1sjnZOqL">心花路放 &raquo; </a> 密码:2oi4</p>
    </div>
  </div>

  <div class="container">

    <!-- content 正文 -->
    <div class="row">
      <%= yield %>
    </div>

    <hr />
    
    <!-- footer -->
    <footer class="text-center">
      <p class="btn btn-default"><span class="glyphicon glyphicon-ok"><%= link_to "Markdown语法说明", "http://markdown.tw/" %><span class="glyphicon glyphicon-ok">
      </p>
      <p>Copyleft</p>
    </footer>

  </div> <!-- /container -->

  <!-- bootstrap js and ie10 workaround -->
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
