<!DOCTYPE html>
<html>
<head>
  <title>虎 妞 网</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

<!-- header block -->
<div id="header">

  <div id="user_nav" style="text-align:right">
    <% if current_user %>
      <b><%= current_user.email %></b>
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or 
      <%= link_to "Log in", log_in_path %>
    <% end %>
  </div>
</div>

<!-- menu block -->
<div id="menu" style="  position: absolute;
  z-index: 0;
  top: 50px;
  right: 0;
  background: #F0F0F0;
  //background: #FFF;
  padding: 1em 1.5em 1em 1.25em;
  width: 10em;
  font-size: 0.9285em;
  color: red;
  line-height: 1.3846em;
  margin-top: 2em;
  margin-right: 1em;">
    123<br />
    234<br />
    234<br />
    234<br />
    234<br />
    234<br />
    234<br />
    234<br />
    234<br />
    234<br />
    sdf
</div>

<!-- content block -->
<div id="content" style="
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1em;">
  <div id="logo_link">
    <h1 style="text-align: left"><%= link_to '虎妞网', root_path %></h1>
  </div>
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <div id="mainCol" style="margin-left: 2em; max-width: 630px">
    <%= yield %>
  </div>

</div>

<!-- footer block -->
<div id="footer" style="text-align:center; padding: 5em">
  <%= link_to "Markdown语法说明", "http://markdown.tw/" %><br />
  Copyleft
</div>

<!-- container end -->
</div>

</body>
</html>
