<!DOCTYPE html>
<html class="home  js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <title>虎 妞 网</title>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="index">

<div id="container">
<!-- header block -->
<div id="header">
  <div id="user_nav" style="text-align:right">
    <% if current_user %>
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or 
      <%= link_to "Log in", log_in_path %>
    <% end %>
  </div>
</div>


<%= yield %>

</div>

</body>
</html>
